.App {
  text-align: center;
}

.division {
  margin: auto;
  width: 60%;
  border: 2px solid #111110;
  padding: 50px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 5px solid #FFFF00; */
  /* padding: 10px; */

}

/* table{ */
/* border-collapse: collapse;
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
margin: auto;
width: 50%;
border: 5px solid #FFFF00; */
/* padding: 50px; */
#customers {
  overflow: scroll;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* margin: auto; */
  margin-top: 30px;
  /* height: 100%; */

}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #071611;
  color: white;
}

button {
  margin: auto;
  margin-left: 50px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#inputid {
  margin-left: 100px;
}

#divid {
  align-items: center;

}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  /* padding: 10px;
   */

  padding-top: 10px;
  height: screen;
  /* height: auto; */
  /* Should be removed. Only for demonstration */
}

.columnscroll {
  overflow: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.Box1 {
  background-color: rgb(6, 5, 7);
  width: 150px;
  height: 150px;
  position: fixed;
  right: 30px;
  bottom: 30px;

  padding: 50px;
  font-size: 30px;
  color: white;



}

.Box {
  background-color: rgb(6, 5, 7);
  width: 150px;
  height: 150px;
  position: fixed;
  left: 30px;
  bottom: 30px;

  padding: 50px;
  font-size: 30px;
  color: white;


}